{% extends 'base.html.twig' %}

{% block body %}
	<h2>Spectacles</h2>

	<div class="row row-cols-2">
		{% for show in pagination %}
			<div class="col mb-4 ">
				<div class="card">
					<div class="card-header">
						<p class="text-muted">{{ totalPlaces - show.remainingPlaces() }} places restantes.</p>
						<span class="badge text-bg-info float-end">
							<big>{{ show.dateStart ? show.dateStart|date('d') : '' }}</big>
							<br/>s
							{{ show.dateStart ? show.dateStart|date('M') : '' }}<br/>
							{{ show.dateStart ? show.dateStart|date('Y') : '' }}
						</span>
						{% if show.showPosterImage is not null %}
							<img src="{{ asset("img/show_posters/#{show.showPosterImage}") }}" class="img-thumbnail" />
						{% endif %}
						<h4 class="card-title">{{ show.name }}</h4>
						<h6 class="card-title">
							{% for category in show.categories %}
								<i>{{ category }}</i>{% if not loop.last %} <span class="text-muted">//</span> {% endif %}
							{% endfor %}
						</h6>
					</div>
					<div class="card-body">
						<p>
							{{ show.description }}
						</p>
					</div>
					<div class="card-footer">
						<td class="d-flex justify-content-between">
                            <a class="btn btn-primary flex-grow-1 me-2" href="{{ path('app_show_map') }}">plan</a>
                            {% if is_granted('ROLE_USER') %}<a class="btn btn-primary  flex-grow-1 me-2" href="{{ path('app_show_book', {'id': show.id}) }}">réservation</a> {% endif %}
							{% if is_granted('ROLE_ADMIN') %}<a class="btn btn-primary  flex-grow-1 me-2" href="{{ path('app_show_edit', {'id': show.id}) }}">éditer</a>{% endif %}
						</td>
					</div>
				</div>
			</div>
		{% else %}
			<div class="alert alert-warning">Aucun spectacle!</div>
		{% endfor %}
	</div>
	<div class="pagination d-flex justify-content-center">
		{{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
	</div>

	<hr/>

	{% if is_granted('ROLE_ADMIN') %}<a class="btn btn-success" href="{{ path('app_show_new') }}">Ajouter</a>{% endif %}
{% endblock %}
