{% extends 'base.html.twig' %}

{% block body %}

	<h2>Bienvenue!</h2>

	<div class="card mb-4">
		<div class="card-header">
			La salle de <b>{{ placeName }}</b> est dotée de
			<b>{{ nbPlaces }}</b> places et vous permettra de réserver vos spectacles en ligne!
			<hr/>
			<a href="{{ path('app_show_index') }}" class="btn btn-primary float-end">
				Découvrir les spectacles &raquo;
			</a>
		</div>
	</div>

	<h2>Nos coordonnées</h2>

	<div class="card">
		<div class="card-header">
			Retrouvez notre salle de spectacle:

			<hr/>

			<iframe src="{{ iframeUrl }}" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<hr/>

			<code>
				{{ placeAddress }}
				<!--DAWIN-Arena,<br/>
				1337 rue de DAWIN<br/>
				33000 Bordeaux<br/>-->
			</code>
		</div>
	</div>

{% endblock %}
